@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none !important; }

li {
  list-style-type: none; }

.shadow-box {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }

.shadow-box-2 {
  box-shadow: 0px 4px 4px #E8E8E8; }

img.logo-img {
  max-width: 8rem; }

.fw-normal {
  font-weight: normal !important; }

.fw-600 {
  font-weight: 600 !important; }

.avatar-img-1 {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover; }

.avatar-img-2 {
  width: 3rem;
  height: 3rem;
  object-fit: cover; }

.avatar-img-3 {
  width: 4rem;
  height: 4rem;
  object-fit: cover; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f5f5f5; }

.dropdown:hover .dropdown-content {
  display: block; }

.nav-pills .nav-link.active {
  color: #005ED3 !important;
  border-bottom: 3px solid #005ED3;
  border-radius: 0;
  background-color: #fff0 !important;
  font-weight: bold; }
.nav-pills .nav-link {
  border-radius: 0;
  font-weight: 600; }

.img-max {
  width: 100%;
  height: 100%; }

.br-5 {
  border-radius: 5px; }

.br-20 {
  border-radius: 20px; }

.flex-container {
  display: flex;
  flex-wrap: wrap; }
  .flex-container .group-flex {
    position: relative;
    margin: .2rem .3rem; }
    .flex-container .group-flex i {
      position: absolute;
      font-size: .7rem;
      top: -1px; }
  .flex-container .group-flex:nth-child(-n+9) button {
    padding: .375rem 1.04rem; }

/*màu*/
.blue-1 {
  color: #56CCF2 !important; }

.bg-blue-1 {
  background: #56CCF2 !important; }

.blue-2 {
  color: #005ED3 !important; }

.blue-3 {
  color: #005ED3 !important; }

.bg-blue-3 {
  background: #005ED31a !important; }

.green-1 {
  color: #219653; }

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

/*login pages*/
.login {
  background-image: url("images/bg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

.carousel-item .d-block.w-45.pt-lg-5 {
  position: absolute;
  top: 2rem;
  left: 0; }

.w-45 {
  width: 45% !important; }

.star-1 i:nth-child(-n+1) {
  color: #ffc107; }

.star-2 i:nth-child(-n+2) {
  color: #ffc107; }

.star-3 i:nth-child(-n+3) {
  color: #ffc107; }

.star-4 i:nth-child(-n+4) {
  color: #ffc107; }

.star-5 i:nth-child(-n+5) {
  color: #ffc107; }

i.fas.fa-star {
  /*font-size: .8rem;
  padding: 0 .15rem;*/
  font-size: .75rem;
  padding: 0 .05rem; }

/*animation*/
.ani {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 4rem;
  top: 3rem;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  zoom: .2; }

.ani:before, .ani:after {
  content: '';
  background-color: #6D6E71;
  position: absolute; }

.ani.ani-active {
  -webkit-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg); }

.ani.ani-active:before {
  -webkit-animation: out .3s ease;
  animation: out .3s ease; }

.ani.ani-active:after {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

.ani:after {
  width: 10px;
  left: calc(60px / 2 - 10px / 2);
  top: 0;
  bottom: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease; }

.ani:before {
  height: 10px;
  right: 0;
  top: calc(60px / 2 - 10px / 2);
  left: 0; }

@-webkit-keyframes out {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0; } }
@keyframes out {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0; } }
/*--------------------------------------*/
.navbar .searchbar {
  position: relative; }
  .navbar .searchbar i {
    position: absolute;
    right: 5px;
    top: 11px; }
  .navbar .searchbar input {
    padding-right: 16rem !important;
    background: #BBBFC9; }
.navbar .dropdown-submenu {
  position: relative; }
.navbar .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }
.navbar .dropdown-submenu:hover > .dropdown-menu {
  display: block; }
.navbar .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }
.navbar .dropdown-submenu:hover > a:after {
  border-left-color: #fff; }
.navbar .dropdown-submenu.pull-left {
  float: none; }
.navbar .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.header {
  background: linear-gradient(314.3deg, #2E81FD 0.25%, #005ACF 29.57%, #001B8C 101.35%); }
  .header .banner h3 {
    color: #56CCF2; }
  .header .banner button {
    background: #56CCF2 !important;
    border: 1px solid #56CCF2; }
  .header .banner button:hover {
    border: 1px solid #56CCF2; }

.category {
  position: absolute;
  width: 60%;
  background: white;
  left: 50%;
  /* bottom: 50%; */
  transform: translate(-50%, -50%); }
  .category .flex-container {
    display: flex;
    flex-wrap: nowrap; }
  .category .group {
    cursor: pointer;
    margin: 1.5%;
    float: left;
    border-radius: 4px;
    padding: .75rem;
    border: 1px solid #A8B3BF; }
  .category .group:first-child {
    margin-left: 3%; }
  .category .group:last-child {
    margin-right: 3%; }

.featured-course .group-2 {
  margin: 1% 2%; }
.featured-course .group-2:first-child {
  margin-left: 0; }
.featured-course .group-2:last-child {
  margin-right: 0; }
.featured-course ul li.active {
  box-shadow: 0px 4px 0px -1px #005ED3; }
  .featured-course ul li.active a {
    color: #005ED3 !important; }
.featured-course .card .card-body h6 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.new-course {
  background: #a8b3bf4d; }
  .new-course .course-content {
    background: #fff; }

.sign-up-bottom {
  background: url("images/bg-signup-bottom.png"), linear-gradient(283.3deg, #2E81FD 3.58%, #005ACF 56.06%, #001B8C 112.3%);
  background-repeat: no-repeat;
  background-size: cover; }
  .sign-up-bottom .w-75 {
    width: 74% !important; }

.footer {
  background: #17274D; }

.link-top {
  background: url("images/bg-link.png"), linear-gradient(349.79deg, #2773D6 -0.33%, #1D5FCF 53.36%, #0A2FC4 131.23%);
  background-size: cover;
  background-repeat: no-repeat; }
  .link-top .evaluate {
    background: url("images/Rectangle 159.png");
    background-size: 100%;
    background-repeat: no-repeat; }

.list-course {
  margin-top: -5.5rem; }
  .list-course .navbar-collapse {
    background: white;
    border-radius: 5px; }
  .list-course ul li img {
    width: 2rem;
    padding-right: .5rem; }
  .list-course ul li a {
    color: black; }
  .list-course .nav-list {
    /*padding-right: 15px;*/
    padding-left: 1rem;
    margin-bottom: 0; }
  .list-course .course-catalog .nav-link[data-toggle].collapsed:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    color: #6c757d;
    position: absolute;
    right: 25px;
    font-size: .6rem; }
  .list-course .course-catalog .nav-link[data-toggle]:not(.collapsed):after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
    color: #6c757d;
    position: absolute;
    right: 25px;
    font-size: .6rem; }
  .list-course .my-course .col-10 p {
    font-weight: 600; }
  .list-course .my-course .col-2 i {
    font-size: .6rem; }
  .list-course .progress {
    height: .4rem; }
    .list-course .progress .progress-bar {
      background: #219653; }

.main .tab-content .lecturers .collapse-text {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical; }
.main .comment .dropdown-toggle::after {
  display: none; }
.main .tab-content li {
  list-style-type: none;
  list-style-position: inside; }
.main .tab-content li:before {
  content: "•";
  font-size: 1.5rem;
  padding-right: .3rem;
  color: #75818F; }

.info-course {
  position: fixed;
  width: 22rem;
  top: 14rem;
  right: 9rem;
  z-index: 100; }
  .info-course .card {
    width: 100%; }
    .info-course .card img {
      margin: -1px; }

.learning-process .caption.active {
  color: #005ED3;
  border-bottom: 3px solid #005ED3; }
.learning-process .info-learning .timeline > li {
  counter-increment: item;
  padding: 10px 10px;
  margin-left: 0px;
  min-height: 70px;
  position: relative;
  background-color: white;
  list-style: none; }
.learning-process .info-learning .timeline > li::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #BF1E2E5a;
  top: 15px;
  bottom: -10px;
  left: -1.2rem; }
.learning-process .info-learning .timeline > li:last-child::before {
  width: 0px; }
.learning-process .info-learning .info-learning-left .status-intransit {
  height: 2.2rem;
  width: 2.2rem;
  position: absolute;
  left: -2.25rem;
  z-index: 10; }
  .learning-process .info-learning .info-learning-left .status-intransit .finish-icon {
    position: absolute;
    top: 0;
    right: -2px;
    z-index: 20; }
.learning-process .info-learning .__hoclieu12 {
  background: url("theme/study_site/images/newicon/youtube.png"), white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu5 {
  background: url("theme/study_site/images/newicon/file.jpg"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu4 {
  background: url("theme/study_site/images/newicon/scorm.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu3 {
  background: url("theme/study_site/images/newicon/pp.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu14 {
  background: url("theme/study_site/images/newicon/msteam.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu13 {
  background: url("theme/study_site/images/newicon/zoom.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu6 {
  background: url("theme/study_site/images/newicon/video.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu8 {
  background: url("theme/study_site/images/newicon/homework.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu7 {
  background: url("theme/study_site/images/newicon/notebook.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu10 {
  background: url("theme/study_site/images/newicon/streaming.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }
.learning-process .info-learning .__hoclieu11 {
  background: url("theme/study_site/images/newicon/whiteboard.png"), white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  zoom: .7; }

.notify i {
  font-size: 1.5rem; }
.notify span {
  position: absolute;
  top: -13px;
  right: -5px;
  border: 2px solid; }

.list-qs .exam-detail .list-question {
  position: fixed;
  margin-left: 3rem !important;
  top: 10.5rem;
  right: 11.5rem;
  width: 25%; }

/*radio*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:before {
  border: 2px solid #BF1E2E !important; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #BF1E2E;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

[type="radio"]:checked + label p,
[type="checkbox"]:checked + label p {
  display: none; }

[type="radio"]:not(:checked) + label p,
[type="checkbox"]:not(:checked) + label p {
  position: absolute;
  font-size: .8rem;
  left: 8px;
  top: 2px; }

/*checkbox*/
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px; }

[type="checkbox"]:checked + label:before {
  border: 2px solid #BF1E2E !important; }

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 15px;
  border: solid #BF1E2E;
  position: absolute;
  top: 5px;
  left: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translateY(-3px) !important; }

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

/*# sourceMappingURL=style.css.map */
