@media (max-width: 768px) {
  .list-qs .exam-detail .list-question {
    position: fixed;
    right: 2.5rem;
    top: 10.5rem;
    width: 35%; } }
@media (max-width: 576px) {
  .d-xs-none {
    display: none; }

  .list-qs .exam-detail .list-question {
    position: unset;
    margin-left: 0rem !important;
    width: 100%; }

  /*login*/
  .login .w-75 {
    width: 100% !important; }

  .sign-up-bottom .w-75 {
    width: 70% !important; }

  .banner .carousel-inner .carousel-item {
    min-height: 300px; } }

/*# sourceMappingURL=style-responsive.css.map */
